@import "tailwindcss";

@theme {
    --color-tescha-blue: #1e3a5f;
    --color-tescha-green: #00843d;
    --color-tescha-lime: #86bc25;
    
    /* Modificamos este al guinda exacto del logotipo institucional */
    --color-tescha-wine: #7a1c31; 
}

html {
    min-width: 320px;
    background-color: var(--color-slate-100);
}

body {
    margin: 0;
}